:root {
	--color: #434455;
	--color-ae5: #4d5ae5;
	--color-fff: #FFFFFF;
	--color-f42: #2e2f42;
	--color-bbf: #404bbf;
	--background-color-fff: #FFFFFF;
	--background-color-4fd: #f4f4fd;
	--background-color-bbf: #404bbf;
	--background-color-f42: #2e2f42;
	--background-f42: #2e2f42;
	--fm: Roboto, sans-serif;
	--fw: 400;
	--fs: 16px;
	--lh: 1.5;
	--fw8: 800;
}


*,
*:: after,
*:: before {
	box-sizing: inherit;
	
}



/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/


/* container display: flex; */

.container {
	width: 1158px;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}





/* button*/
.order-service {
	background-color: var(--color-ae5);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: var(--fs);
	line-height: var(--lh);
	letter-spacing: 0.04em;
	color: var(--color-fff);
	cursor: pointer;
	width: 105px;
  height: 56px;
	display: block;
	min-width: 169px;
	border: none;
	border-radius: 4px;
}
.order-service:hover,
.order-service:focus {
	background-color: var(--background-color-bbf);
}
.button {
	font-family: inherit;
	color: currentColor;
	cursor: pointer;
	width: 69px;
	height: 56px;
	top: 428px;
	left: 636px;
	padding: 16px 32px 16px 32px;
	border-radius: 4px;
	gap: 24px;
	box-shadow: 0px 4px 4px 0px #00000026;
	border: none;
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}


.btn-list {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: var(--fs);
	line-height: var(--lh);
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--color-ae5);
	display: flex;
	width: 69px;
	height: 56px;
	padding: 12px 24px;
	border-radius: 4px;
	gap: 10px;
	box-shadow: 0px 4px 4px 0px #00000026;
	border: 1px solid #e7e9fc;
	box-shadow: 0px 2px 2px 0px #0000001F;
  box-shadow: 0px 2px 1px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001A;
}
.btn-list:hover,
.btn-list:focus {
	color: var(--color-fff);
	background-color: var(--background-color-bbf);
	border: 1px solid transparent;
}




/* body */
body {
  font-family: var(-f-fm);
	font-style: normal;
	font-weight: var(--fw);
	font-size: var(--fs);
	line-height: 24px;
	letter-spacing: 2%;
	background-color: var(--background-color-fff);
	color: var(--color);
	padding: 0;
	margin: 0;
}
.body-portfolio {
  font-family: var(--fm);
	font-style: normal;
	font-weight: 500;
	font-size: var(--fs);
	line-height: var(--lh);
	letter-spacing: 0.04em;
	background-color: var(--background-color-4fd);
	color: var(--color);
	padding: 0;
	margin: 0;
}






/* обнулення  display: flex; padding: 0 15px 0 15px  width: 1158px;   */

h1, h2, h3, h4, h5, h6, p {
 margin: 0 auto;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: flex;
	width: 1158px;
	padding: 0 15px 0 15px;
	gap: 24px;
}





/* адаптивне фото  display: block;*/

img{
		display: block;
		max-width: 100%;
		height: auto;
}




/* забираємо підкреслення силок */

a {
	text-decoration: none;
}





/* видалення маркерів та кружечків в списках ul */
ul{
	list-style-type: none;
}




/* header ;*/
.header-top {
	height: 80px;
	background-colorvar: (--background-color-fff);
}

header {
	display: inline-block;
	width: 380px;
	border-bottom: 1px solid #e7e9fc;
	margin: 0 auto;
}

.header-container {
		margin: 0 auto;
}
.header-logo {
	font-family: Raleway, sans-serif;
	font-weight: var(--fw8);
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-ae5);
	width: 44px;
	height: 21px;
  top: 24px;
  left: 156px;
	margin-right: 76px;
}
.header-logo:hover,
.header-logo:focus {
	color: var(--color-bbf);
	display: inline-block;
	width: 380px;
}
.logo-n-icon {
	color: var(--color-f42);
	width: 71px;
  height: 21px;
	margin: 0 auto;

}
.header-nav {
	font-weight: 500;
	letter-spacing: 0.02em;
	font-size: var(--fs);
	line-height: var(--lh);	
	text-decoration: none;
	display: flex;
	border-bottom: 1px solid #E7E9FC;
	width: 1440px;
  height: 72px;
  border: 1px;
	column-gap: 10px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.link-container {
		margin: 0 auto;
}
.header-nav-list {
	width: 261px;
	height: 24px;
	top: 24px;
	left: 347px;
	gap: 40px;
	display: flex;
	gap: 40px;
	margin: 0 auto;
}
.header-nav-item {
	display: flex;
	gap: 40px;
	padding: 24px 0;
	margin: 0 auto;
}
.header-link {
	font-weight: 500;
	letter-spacing: 0.02em;
	font-size: var(--fs);
	line-height: var(--lh);
  text-decoration: none;
	color: var(--color-f42);
	display: block;
	width: 40px;
	border-radius: 10px;
	border: 3px solid var(--color-f42);
	display: flex;
	gap: 40px;
	padding: 24px 0;
	margin: 0 auto;
}
.header-nav-link:hover,
.header-nav-link:focus {
	color: #404bbf;
}
.address-link-mailto, address-link-tel {
	font-style: normal;
	letter-spacing: 0.02em;
	list-style: none;
	color: var(--color-ico);
	display: inline-block;
  height: 24px;
	margin: 0 auto;
  top: 24px;
}
.address-link-mailto {
	width: 153px;
	left: 940px;
}
.address-link-tel {
	height: 24px;
	top: 24px;
}
.adress {
	list-style: none;
	gap: 40px;
}
.link {
	text-decoration: none;
	display: inline-block;
	width: 380px;
}
.address-link {
	color: var(--color);
}
.address-link:hover,
.address-link:focus {
	color: var(--color-bbf);
}






/* footer */
.foot {
	background-color: var(--background-color-f42);
	width: 1440px;
	height: 312px;
	top: 2280px;
	padding: 100px 0;
}
.logo-f {
  text-align: left;
	font-family: "Raleway", sans-serif;
	font-weight: var(--fw8);
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-ae5);
	text-decoration: none;
	margin-bottom: 16px;
	display: inline-block;
}
.logo-icon {
	color: #f4f4fd;
	width: 115px;
	height: 24px;
	top: 2380px;
	left: 156px;
}
.logo-f-p {
	color: #f4f4fd;
	letter-spacing: 0.02em;
	width: 264px;
  height: 72px;
  top: 2420px;
  left: 156px;
	max-width: 264px; 
}






/* index html */

.hero-images {
	background-color: #2e2f42;
	width: 1440px;
  height: 600px;
  top: 72px;
	padding: 188px 0;
}
.effective {
	color: var(--color-fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
	width: 496px;
	height: 120px;
	top: 260px;
	left: 472px;
	max-width: 496px;
}
.descriptions {
	background-color: var(--background-color-bbf);
	font-weight: 500;
	display: inline-block;
	width: 1128px;
  height: 104px;
  top: 792px;
  left: 156px;
	padding: 120px 0;
	display: flex;
}
.descriptions-items {
	width: 264px;
	height: 104px;
	top: 792px;
	gap: 24px;
	display: flex;
	width: calc((100% - 72px) / 4);
}
.strategy {
	left: 156px;
}
.punctuality {
	left: 444px;
}
.diligence {
	left: 732px;
}
.technologies {
	left: 1020px;
}
.descriptions-h {
	font-size: 20px;
	line-height: 1.2; 
	letter-spacing: 0.02em;
	font-weight: 500;
	color: var(--color-f42);
	display: inline-block;
	width: 264px;
  height: 24px;
	margin-bottom: 8px;
}
.descriptions-p {
	box-sizing: border-box;
	letter-spacing: 0.02em;
	padding: 40px 30px 20px 10px;
	border: 5px solid red;
	width: 264px;
	height: 72px;
}


.what {
	background-color: var(--background-color-4fd);
	width: 1128px;
	height: 412px;
	top: 1016px;
	left: 156px;
	padding: 120px 0;
	gap: 24px;
}
.what-h {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
	line-height: 1.11;
	text-transform: capitalize;
	color: var(--color-f42);
	width: 323px;
	height: 40px;
	top: 1016px;
	left: 559px;
	margin-bottom: 72px;
}

.what-item {
	color: #E7E9FC;
	background-color: var(--background-color-fff);
	width: 360px;
	height: 300px;
	top: 1128px;
	width: 360px;
	border: 1px solid #E7E9FC;
	display: flex;
	gap: 24px;
}
.monitor {
	width: calc((100% - 48px) / 3);
}
.message {
	width: calc((100% - 48px) / 3);
}
.phone {
	width: calc((100% - 48px) / 3);
}


.team {
	background-color: var(--background-color-4fd);
	width: 1440px;
	height: 732px;
	top: 1548px;
	display: flex;
	padding: 120px 0;
}
.team-h {	
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
	background: var(--background-f42);
	line-height: 1.11;
	text-transform: capitalize;
	color: var(--color-f42);
	width: 162px;
	height: 40px;
	top: 1668px;
	left: 639px;
	margin-bottom: 72px;
}
.team-picture {
	width: calc((100% - 72px) / 4);
}

.team-container {
	padding: 32px 0;
}
.name-item {
	background-color: var(--background-color-fff);
	box-sizing: border-box;
	padding: 20px;
	border: 3px solid red;
	width: 400px;
	height: 500px;
	display: flex;
	width: 64px;
	height: 380px;
	top: 1780px;
	padding: 0px 0px 32px 0px;
	border-radius: 0px 0px 4px 4px;
	gap: 24px;
	box-shadow: 0px 2px 1px 0px #2E2F4214;
  box-shadow: 0px 1px 1px 0px #2E2F4229;
  box-shadow: 0px 1px 6px 0px #2E2F4214;
	border-radius: 0px 0px 4px 4px;
}
.name-container {
  padding: 32px 0;
}
.name-list-product {
	left: 156px;
}
.name-list-frontend {
	left: 444px;
}
.name-list-marketing {
	left: 732px;
}
.name-list-designer {
	left: 1020px;
}
.name-h {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
	background: var(--background-f42);
	line-height: 1.11;
	color: var(--color-f42);
	width: 134px;
	height: 24px;
	margin-bottom: 8px;
}
.proffesion-p {
  font-size: var(--fs);
  font-weight: var(--fw);
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
	color: var(--color);
	display: inline-block;
	height: 24px;
}
.proffesion-product {
	width: 128px;
}
.proffesion-frontend {
	width: 144px;
}
.proffesion-marketing {
	width: 75px;
}
.proffesion-designer {
	width: 85px;
}





/* portfolio html*/

.s-link {
	width: 586px;
	height: 48px;
	left: 427px;
	padding-top: 96px;
	padding-bottom: 120px;
}
.s-list {
	 justify-content: center; 
	 margin-bottom: 72px;
	 display: flex;
	 flex-wrap: wrap;
	 row-gap: 48px;
	 width: calc((100% - 48px) / 3);
	 gap: 24px;
}
.interesting-container {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
	margin-bottom: 8px;
}
.business-container-list {
	display: flex;
	column-gap: 24px;
}
.diffrent-item {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}
.image-link {
	text-decoration: none;
	calc((100% - 48px) / 3); 
}
.text-tansform { 
	font-weight: 500;
	line-height: 1.2;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--color-f42);
	display: inline-block;
	width: 380px;
	margin-bottom: 8px;
} 
.text-inform {
	font-size: var(--fs);
	line-height: var(--lh);
	letter-spacing: 0.02em;
	color:var(--color);
	display: inline-block;
	width: 380px;
}





